* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(228, 82, 82);
}

.intro-card, .que-card, .times-up, .congratulations, .high-scores {
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    background-color: rgb(238, 209, 170);
    border-radius: 5px;
}

.intro-card h1, .que-card h1, .times-up h1, .congratulations h1, .high-scores h1 {
    text-align: center;
    background-color: rgb(238, 209, 170);
  

}

.intro-card p {
    text-align: center;
}

.intro-card button {
    font-size: 25px;
    font-weight: 500;
    /* text-align: center; */
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.intro-card button:hover {
    background-color: rgb(228, 82, 82);
    color: white;
}

.que-card button {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    padding: 15px 30px;
    text-align: left;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    display: block;
}

.que-card button:hover {
    background-color: rgb(228, 82, 82);
    color: white;
}

.times-up button {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
}

.times-up button:hover {
    background-color: rgb(228, 82, 82);
    color: white;
}

.congratulations input {
    padding: 15px 30px;
    border-radius: 5px;
}

.congratulations button {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
}

.congratulations button:hover {
    background-color: rgb(228, 82, 82);
    color: white;
}

.high-scores button {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.high-scores button:hover {
    background-color: rgb(228, 82, 82);
    color: white;
}



